Semester Project

In [26]:
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

import numpy as np
import pandas as pd
from sklearn import svm, metrics
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn import ensemble
from sklearn.utils import shuffle
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import RFE
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,roc_curve, roc_auc_score
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.feature_selection import RFECV
from sklearn.model_selection import train_test_split

from collections import defaultdict
import math
from random import seed
from random import random

%matplotlib inline

In [44]:
"""

https://www.guru99.com/nltk-tutorial.html
https://www.guru99.com/stemming-lemmatization-python-nltk.html
https://www.guru99.com/tokenize-words-sentences-nltk.html





#https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset
a= pd.read_csv("IMDb_movies.csv")
#b= pd.read_csv("IMDb names.csv")
#c= pd.read_csv("IMDb ratings.csv")
#d= pd.read_csv("IMDb title_principals.csv")

print(a.info())


# Delete these row indexes from dataFrame
a.drop(indexNames , inplace=True)

indexNames2 = a[ a['country'] != "USA" ].index 
a.drop(indexNames2 , inplace=True)
print(a.info())
print(a.groupby("country").mean())  
print(a['country'].value_counts())
print(max(a['year']))
"""

#themoviedb
#https://www.kaggle.com/stephanerappeneau/350-000-movies-from-themoviedborg
x= pd.read_csv("AllMoviesDetailsCleaned.csv", sep=';')

print(a.info())
# Delete these row indexes from dataFrame
indexNames = a[ a['year'] <2016 ].index
a.drop(indexNames , inplace=True)

indexNames2 = a[ a['country'] != "USA" ].index 
a.drop(indexNames2 , inplace=True)
print(a.info())
print(a)

#print(b.info())
#print(c.info())
#print(d.info())

/home/scott/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440 entries, 43345 to 81265
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          440 non-null    object
 1   title                  440 non-null    object
 2   original_title         440 non-null    object
 3   year                   440 non-null    int64
 4   date_published         440 non-null    object
 5   genre                  440 non-null    object
 6   duration               440 non-null    int64
 7   country                440 non-null    object
 8   language               412 non-null    object
 9   director               440 non-null    object
 10  writer                 433 non-null    object
 11  production_company     413 non-null    object
 12  actors                 440 non-null    object
 13  description            440 non-null    object
 14  avg_vote               440 non-null    float64
 15  votes                  440 non-null    int64
 16  budget                 107 non-null    object
 17  usa_gross_income       96 non-null     object
 18  worlwide_gross_income  129 non-null    object
 19  metascore              172 non-null    float64
 20  reviews_from_users     430 non-null    float64
 21  reviews_from_critics   404 non-null    float64
dtypes: float64(4), int64(3), object(15)
memory usage: 79.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 440 entries, 43345 to 81265
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          440 non-null    object
 1   title                  440 non-null    object
 2   original_title         440 non-null    object
 3   year                   440 non-null    int64
 4   date_published         440 non-null    object
 5   genre                  440 non-null    object
 6   duration               440 non-null    int64
 7   country                440 non-null    object
 8   language               412 non-null    object
 9   director               440 non-null    object
 10  writer                 433 non-null    object
 11  production_company     413 non-null    object
 12  actors                 440 non-null    object
 13  description            440 non-null    object
 14  avg_vote               440 non-null    float64
 15  votes                  440 non-null    int64
 16  budget                 107 non-null    object
 17  usa_gross_income       96 non-null     object
 18  worlwide_gross_income  129 non-null    object
 19  metascore              172 non-null    float64
 20  reviews_from_users     430 non-null    float64
 21  reviews_from_critics   404 non-null    float64
dtypes: float64(4), int64(3), object(15)
memory usage: 79.1+ KB
None
      imdb_title_id                    title           original_title  year  \
43345     tt0385887      Motherless Brooklyn      Motherless Brooklyn  2019
45409     tt0437086      Alita: Battle Angel      Alita: Battle Angel  2019
48613     tt0800325                 The Dirt                 The Dirt  2019
49510     tt0858419                   Bolden                   Bolden  2019
50880    tt10008784                     Bull                     Bull  2019
...             ...                      ...                      ...   ...
81246     tt9831136  The Banana Splits Movie  The Banana Splits Movie  2019
81249     tt9840958         Love Struck Sick         Love Struck Sick  2019
81253     tt9860728         Falling Inn Love         Falling Inn Love  2019
81254     tt9860860            Abduction 101            Abduction 101  2019
81265     tt9896916   The Pilgrim's Progress   The Pilgrim's Progress  2019

      date_published                         genre  duration country  \
43345     2019-11-01                  Crime, Drama       144     USA
45409     2019-02-06     Action, Adventure, Sci-Fi       122     USA
48613     2019-03-22      Biography, Comedy, Drama       107     USA
49510     2019-05-03                         Drama       108     USA
50880     2019-11-11                         Drama       105     USA
...              ...                           ...       ...     ...
81246     2019-08-13        Comedy, Horror, Sci-Fi        89     USA
81249     2019-08-08                       Romance        92     USA
81253     2019-08-29               Comedy, Romance        98     USA
81254     2019-01-01                        Horror        77     USA
81265     2019-04-18  Animation, Adventure, Family       108     USA

               language                      director  ...  \
43345           English                 Edward Norton  ...
45409  English, Spanish              Robert Rodriguez  ...
48613           English                 Jeff Tremaine  ...
49510           English                  Dan Pritzker  ...
50880           English             Annie Silverstein  ...
...                 ...                           ...  ...
81246           English            Danishka Esterhazy  ...
81249           English                 Don Tjernagel  ...
81253           English                  Roger Kumble  ...
81254           English  Robin Entreinger, Steve Noir  ...
81265           English              Robert Fernandez  ...

                                                  actors  \
43345  Edward Norton, Gugu Mbatha-Raw, Alec Baldwin, ...
45409  Rosa Salazar, Christoph Waltz, Jennifer Connel...
48613  Machine Gun Kelly, Erin Ownbey, Douglas Booth,...
49510  Gary Carr, Erik LaRay Harvey, Ian McShane, Mic...
50880  Rob Morgan, Amber Havard, Yolonda Ross, Keira ...
...                                                  ...
81246  Dani Kind, Steve Lund, Celina Martin, Finlay W...
81249  Jordan Abbe, Jim Averill, Mikey Averill, Josh ...
81253  Christina Milian, Adam Demos, Jeffrey Bowyer-C...
81254  Luna Labelle, Nixi Oblivion, Brianna Shewbert ...
81265  David Thorpe, John Rhys-Davies, Kristyn Getty,...

                                             description avg_vote   votes  \
43345  Set against the backdrop of 1950s New York, Mo...      7.2    4414
45409  A deactivated cyborg is revived, but cannot re...      7.4  171427
48613  Based on the bestselling autobiography from MÃ¶...      7.0   31672
49510  A mythical account of the life of Buddy Bolden...      5.5     295
50880  In a near-abandoned subdivision west of Housto...      8.7    1238
...                                                  ...      ...     ...
81246  A boy named Harley and his family (brother Aus...      5.0    1691
81249  This movie is all about one of the greatest Yo...      7.0     284
81253  When city girl Gabriela spontaneously enters a...      5.6    9816
81254  Three beautiful women find a strange house in ...      2.4     146
81265  An epic journey, faithfully adapted to modern-...      5.0     260

            budget  usa_gross_income worlwide_gross_income metascore  \
43345   $ 26000000         $ 8449596             $ 9205026      60.0
45409  $ 170000000        $ 85710210           $ 404852543      53.0
48613          NaN               NaN                   NaN      39.0
49510          NaN               NaN                   NaN      50.0
50880          NaN               NaN                   NaN      63.0
...            ...               ...                   ...       ...
81246          NaN               NaN                   NaN       NaN
81249       $ 7000               NaN                   NaN       NaN
81253          NaN               NaN                   NaN       NaN
81254     $ 500000               NaN                   NaN       NaN
81265          NaN         $ 1294596             $ 3173282       NaN

      reviews_from_users  reviews_from_critics
43345               87.0                  77.0
45409             2481.0                 337.0
48613              528.0                  69.0
49510               10.0                   4.0
50880                1.0                  22.0
...                  ...                   ...
81246               98.0                  46.0
81249                NaN                   NaN
81253              219.0                  30.0
81254               14.0                   3.0
81265               20.0                   3.0

[440 rows x 22 columns]